<div class="about-container">
<h1 class="NAME">Rojin Raju</h1>
<p class="desc"> Highly motivated engineer with a fascination towards Artificial Intelligence.
    I aim to gain knowledge and make impactful contributions in the field of machine learning and computer vision. </p>
<p class="subdesc"> My Bachelor of Engineering degree in the field of Electronics and Communication Engineering provided me with the knowledge a strong foundation in engineering principles and a passion for innovation.
</p>
<p class="subdesc exp">
    The one year of work experience I gained in the IT field provided me with the skills required to work in a highly modular and fast paced work environment. It also taught me how to contribute in a collaborative team environment </p>
</div>