.contact-container{
    padding: 5% 0 0 10%;
}
h3{
    color: #86C232;
    font-family: Racing Sans One;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
}
p{
    color: #FFF;
font-family: Roboto Mono;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 5%;
}
a{
    color: #558B2F;
font-family: Roboto Condensed;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}