.bg-container{
    margin:0 10%;
}

.title{
    margin:2% 0 1% 0;
    color: #8BC34A;
font-family: Racing Sans One;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.org{
    margin: 0%;
    color: #FFF;
font-family: Roboto Mono;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.date{
    margin: 0;
    margin-left: 1%;

    color: #6B6E70;
font-family: Roboto Mono;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.stats{
    margin: 0;
    margin-left: 1%;
    color: #FFF;
    font-family: Roboto Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.desc{
    margin-left: 1%;

    color: #6B6E70;
font-family: Roboto Mono;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;

}