<div class="bg-container">

    <h2 class="title">Education:</h2>

    <p class="org">Anna University, Chennnai, TN, India</p>
    <p class="date">September 2018 – May 2022 </p>
    <p class="stats">Bachelor of Engineering <br>
         Electronics and Communication Engineering <br>
         CGPA 8.53/10.0<br>
          Grade: A+</p>
    <h2 class="title">Work Experience</h2>
    <p class="org">Cognizant</p>
    <p class="stats">Programmer Analyst Trainee / Enterprise Application Services</p>
    <p class="date">July 2022–July 2023</p>
    <p class="desc">Trained on familiarizing with SAP Business Objects Data Services
         software and its applications along with building a strong foundation in Data Analytics 
         using Python and SQL. Worked on mini projects involving Data Migration and data profiling tools. 
         Worked with my teammates and improved my communication and behavioral skills</p>
    <p class="stats">Internship / Full-stack Development</p>
    <p class="date">February 2022 – July 2022 </p>
    <p class="desc">Learned basics of HTML, CSS, Javascript followed with introduction to packages like bootstrap and frameworks like react. Additionally, communication and behavioral training was given to understand the ethics and procedures in a work environment. </p>
</div>