<div class="skills-container">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>

        <h3 class="title">Programming</h3>
        <ul>
            <li>Python</li>  
            <li>SQL</li> 
            <li>C/C++</li>  
            <li>Javascript | HTML | CSS</li> 
         </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <h3 class="title">Technical Skills:</h3>
        


    </mat-grid-tile>
    <mat-grid-tile>
        <h3 class="title">Functional Skills:</h3>



    </mat-grid-tile>
    <mat-grid-tile>
        <h3 class="title">Languages:</h3>



    </mat-grid-tile>
  </mat-grid-list>
</div>
