.title{
    color: #86C232;
font-family: Racing Sans One;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.list{
    color: #FFF;
font-family: Roboto Mono;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.skill-card{
    width: 100%;
}